<!DOCTYPE html>
	<html class="no-js no-touch" lang="{{ shop.locale }}">
	<head>
	  {{ locksmith_initializations }}
	  <meta name="google-site-verification" content="Gb_z5aPqvbSV539HNOydeQGYhV6VwQKrwEp74sn1Sjc" />
	  {% render 'geolizr-init' %}
	
	  <!-- Google Tag Manager -->
	  <script async src="https://www.googletagmanager.com/gtm.js?id=GTM-PNNV4J"></script>
	  <!-- End Google Tag Manager -->
	  
	  <meta name="facebook-domain-verification" content="2q749o5bvcnf457tyerpu0ei4glb3k" />
	  <meta charset="utf-8">
	  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	  
	  <!-- Canonical URL -->
	  <link rel="canonical" href="{{ canonical_url }}" />
	  
	  <!-- Prefetch and Preload Resources -->
	  <link rel="preconnect" href="https://cdn.shopify.com">
	  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
	  <link rel="preconnect" href="https://ajax.googleapis.com">
	  <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
	  <link rel="preload" as="script" href="{{ 'lazysizes.min.js' | asset_url }}">
	  <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">
	  <link rel="preload" as="image" href="{{ 'loading.svg' | asset_url }}">
	  
	  <!-- CSS -->
	  {{ 'theme.dev.css' | asset_url | stylesheet_tag }}
	
	  <!-- IE 11 Compatibility -->
	  <script type="text/javascript">
		if (window.MSInputMethodContext && document.documentMode) {
		  var polyfill = document.createElement("script");
		  polyfill.defer = true;
		  polyfill.src = "{{ 'ie11.js' | asset_url }}";
		  document.getElementsByTagName('script')[0].parentNode.insertBefore(polyfill, scripts);
		  document.documentElement.classList.add('ie11');
		} else {
		  document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
		}
	  </script>
	
	  <!-- Theme Settings -->
	  <script defer src="{{ 'theme.js' | asset_url }}"></script>
	  <script async src="{{ 'lazysizes.min.js' | asset_url }}"></script>
	  {{ '//ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js' | script_tag }}
	  {{ 'daa.js' | asset_url | script_tag }} 
	  
	  <!-- Shopify Common -->
	  {% if request.page_type contains 'customers/' %}
		<script defer src="{{ 'shopify_common.js' | shopify_asset_url }}"></script>
	  {% endif %}
	
	  <!-- Yotpo Integration -->
	  {% if settings.enable_yotpo and settings.yotpo_ID != '' %}
		<script async src="//staticw2.yotpo.com/{{ settings.yotpo_ID }}/widget.js"></script>
	  {% endif %}
	
	  <!-- Render Header Content -->
	  {{ content_for_header }}
	
	  <!-- Accessibility Widget -->
	  <script async src="https://cdn.userway.org/widget.js" data-account="89Pr2Pv3L4"></script>
	  <noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>
	
	  <!-- ConvertCart Integration -->
	  <script defer>
		(function(c, o, n, v, e, r, t, s) {
		  if (/ccScript=skip/.test(c.location.search)) return;
		  s = c.fetch ? 'f' : '';
		  c.ccartObj = e;
		  c[e] = c[e] || function() { (c[e].q = c[e].q || []).push(arguments) };
		  c[e].t = Date.now();
		  r = o.createElement(n);
		  r.async = 1;
		  r.src = v + s + '.js';
		  t = o.getElementsByTagName(n)[0];
		  t.parentNode.insertBefore(r, t);
		})(window, document, 'script', '//cdn.convertcart.com/75566895', 'ccart');
	  </script>
	  
	  <!-- Custom JS -->
	  <script async src="{{ 'custom-js.js' | asset_url }}"></script>
	
	</head>
	
	<body id="{{ page_title | handle }}" class="{{ body_class | strip_newlines | strip }}">
	  <div class="block-body"></div>
	  <a class="in-page-link skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>
	
	  {% section 'announcement-bar' %}
	  {% section 'header' %}
	
	  <!-- Google Tag Manager (noscript) -->
	  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNNV4J" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	  <!-- End Google Tag Manager (noscript) -->
	
	  <div id="PageContainer" class="is-moved-by-drawer">
		<main id="MainContent" class="main-content" role="main">
		  {{ content_for_layout }}
		</main>
		{% section 'footer' %}
	  </div>
	
	  <!-- AJAX Cart -->
	  {% render 'ajax-cart-template' %}
	  {% section 'popup' %}
	  {% include 'smile-initializer' %}
	
	  <!-- Back in Stock Helper -->
	  {% render 'back-in-stock-helper' %}
	  {% render 'geolizr-popup' %}
	  {% render 'geolizr-notification' %}
	
	  <!-- LiveChat Integration -->
	  <script>
		window.__lc = window.__lc || {};
		window.__lc.license = 13224969;
		window.__lc.ga_version = "gtm";
		window.__lc.integration_name = "manual_channels";
		window.__lc.product_name = "livechat";
		(function(n, t, c) {
		  function i(n) { return e._h ? e._h.apply(null, n) : e._q.push(n) }
		  var e = { _q: [], _h: null, _v: "2.0", on: function() { i(["on", c.call(arguments)]) }, once: function() { i(["once", c.call(arguments)]) }, off: function() { i(["off", c.call(arguments)]) }, get: function() { if (!e._h) throw new Error("[LiveChatWidget] You can't use getters before load."); return i(["get", c.call(arguments)]) }, call: function() { i(["call", c.call(arguments)]) }, init: function() { var n = t.createElement("script"); n.async = !0; n.type = "text/javascript"; n.src = "https://cdn.livechatinc.com/tracking.js"; t.head.appendChild(n) } }; !n.__lc.asyncInit && e.init(), n.LiveChatWidget = n.LiveChatWidget || e
		})(window, document, [].slice)
	  </script>
	  <noscript><a href="https://www.livechat.com/chat-with/13224969/" rel="nofollow">Chat with us</a>, powered by <a href="https://www.livechat.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a></noscript>
	
	  <!-- Custom Variable Handling -->
	  <script>
		function waitForCustomVariable() {
		  if (typeof ccart.context?.memQ === 'undefined') {
			setTimeout(waitForCustomVariable, 100);
		  } else {
			ccart.context?.memQ.subscribe((event) => {
			  if (event.target === "evv1") {
				console.log('Sending CCart variables');
				LiveChatWidget.call("set_session_variables", event.arg);
			  }
			});
		  }
		}
		waitForCustomVariable();
	  </script>
	</body>
	</html>
	